################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/read-pkg-up/node_modules/read-pkg/node_modules/load-json-file/node_modules/parse-json/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/read-pkg-up/node_modules/read-pkg/node_modules/load-json-file/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/read-pkg-up/node_modules/read-pkg/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/read-pkg-up/node_modules/find-up/node_modules/pinkie-promise/node_modules/pinkie/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/read-pkg-up/node_modules/find-up/node_modules/pinkie-promise/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/read-pkg-up/node_modules/find-up/node_modules/path-exists/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/read-pkg-up/node_modules/find-up/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/read-pkg-up/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/object-assign/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/normalize-package-data/node_modules/validate-npm-package-license/node_modules/spdx-expression-parse/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/normalize-package-data/node_modules/validate-npm-package-license/node_modules/spdx-correct/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/normalize-package-data/node_modules/validate-npm-package-license/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/normalize-package-data/node_modules/semver/test/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/normalize-package-data/node_modules/is-builtin-module/node_modules/builtin-modules/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/normalize-package-data/node_modules/is-builtin-module/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/normalize-package-data/node_modules/hosted-git-info/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/map-obj/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/loud-rejection/node_modules/signal-exit/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/loud-rejection/node_modules/array-find-index/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/loud-rejection/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/decamelize/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/camelcase-keys/node_modules/camelcase/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/node_modules/camelcase-keys/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/meow/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/dateformat/node_modules/get-stdin/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/chalk/node_modules/supports-color/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/chalk/node_modules/strip-ansi/node_modules/ansi-regex/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/chalk/node_modules/strip-ansi/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/chalk/node_modules/has-ansi/node_modules/ansi-regex/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/chalk/node_modules/has-ansi/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/chalk/node_modules/escape-string-regexp/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/chalk/node_modules/ansi-styles/node_modules/color-convert/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/chalk/node_modules/ansi-styles/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/chalk/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/beeper/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/array-uniq/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/node_modules/array-differ/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/gulp-util/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/bufferstreams/src/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/bufferstreams/node_modules/readable-stream/node_modules/string_decoder/index.js
/Trips/node_modules/gulp-ng-annotate/node_modules/bufferstreams/node_modules/readable-stream/node_modules/isarray/index.js
/node_modules
/Trips/node_modules
